// https://en.wikipedia.org/wiki/Brickwork
$wiki_stretcher: #dc905c;
$wiki_stretcher_border:#f6c2a7;
$wiki_header: #a87d5d;
$wiki_header_border: #cba390;
$wiki_queen_closer: #bd9da2;
$wiki_queen_closer_border: #efd9dd;

$active: blue;

.wall-widget {

  .wall-widget__controls {
    margin-bottom: 1em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

    .wall-widget__row {
      border-top: 1px grey dotted;
      margin-bottom: 1em;

      .wall-widget__course-stats {
        margin: 0 1em 0.2em 0;
      }

      .wall-widget__course {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        margin: 0.5em 1em 0.5em 0;

        .wall-widget__brick {
          text-align: center;
          margin-bottom: 0.5em;

          border: solid 1px transparent;

          &.wall-widget__brick--h {
            background-color: $wiki_header;
            border-color: $wiki_header_border;
          }

          &.wall-widget__brick--s {
            background-color: $wiki_stretcher;
            border-color: $wiki_stretcher_border;
          }

          &.wall-widget__brick--q {
            background-color: $wiki_queen_closer;
            border-color: $wiki_queen_closer_border;
          }

          &.wall-widget__brick--active {
            border-color: $active;
            background-color: $active;
          }
        }
      }
    }
  }

  &.wall-widget--collapse-rows {
    .wall-widget__row {
      padding: 0;
      margin: 0;
      border-top: none;

      .wall-widget__course-stats {
        display: none;
      }

      .wall-widget__course  {
        flex-wrap: nowrap;
        margin: 0;

        .wall-widget__brick {
          margin-bottom: 0;
        }
      }
    }
  }
}
