/* .App {
  text-align: center;
} */

.icon-brick-container {
  width: 200px;
  height: 200px;
}

.coursing-diagram ul {
  list-style: none;
}

.coursing-diagram li {
  display: flex;
}

.coursing-diagram .height-label {
  border-top: solid black 1px;
  width: 4rem;
}

.coursing-diagram .mortar-label {
  border-bottom: solid lightgray 5px;
  width: 4rem;
  padding-top: 8px;
  text-align: right;
  font-weight: bold;
  color: gray;
}

.coursing-diagram .brick {
  border-top: solid black 1px;
  display: inline-block;
  width: 5rem;
  height: 2rem;
  text-align: center;
  padding-top: 7px;
  background-color: #F5B7B1;
  color: #EC7063;
  font-weight: bold;
  border-bottom: solid lightgray 5px;
}
